{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>

    <div class="app-container">
        <div class="title">
            <h1>Learning music with us!!</h1>
        </div>
        <br>
        <div class="font-standard" style="text-align:center">
            Try learning basic music theory including<br>
            "Notes, Keys and Scales"<br>
            Click Start Learning button to begin with our journey :)
        </div>
        <br>
        <div style="text-align:center">
            <button id="start_button" type="button" class="btn btn-primary">Start Learning!</button>
        </div>
    </div>
{% endblock %}
