{% extends "layout.html" %}

{% block content %}


    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
    
    <script>
        let data = {{data[0]|tojson}}
        let max = {{data[1]|tojson}}
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-12" id="name_here"></div>
        </div>
        <br>
        <div id="data_points">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6" id="ui_here">
                    <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA3rbh0KePlOJ7pM4g5BdlohXoZf-2AEZwnLFXKnqGlKgVtiA7WineblpHsq8hQs3tpKc&usqp=CAU" width="100%">
                    <br>-->
                    <div class="piano">
                        <div class="key white" data-note="C">A</div>
                        <div class="key black" data-note="Cs">W</div>
                        <div class="key white" data-note="D">S</div>
                        <div class="key black" data-note="Ds">E</div>
                        <div class="key white" data-note="E">D</div>
                        <div class="key white" data-note="F">F</div>
                        <div class="key black" data-note="Fs">R</div>
                        <div class="key white" data-note="G">G</div>
                        <div class="key black" data-note="Gs">T</div>
                        <div class="key white" data-note="A">H</div>
                        <div class="key black" data-note="As">Y</div>
                        <div class="key white" data-note="B">J</div>
                    </div>

                    <audio src="https://nemo0.github.io/js-piano/notes/C4.mp3" id="C"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/Cs4.mp3" id="Cs"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/D4.mp3" id="D"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/Ds4.mp3" id="Ds"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/E4.mp3" id="E"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/F4.mp3" id="F"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/Fs4.mp3" id="Fs"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/G4.mp3" id="G"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/Gs4.mp3" id="Gs"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/A4.mp3" id="A"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/As4.mp3" id="As"></audio>
                    <audio src="https://nemo0.github.io/js-piano/notes/B4.mp3" id="B"></audio>

                </div>
                <div class="col-4" id="details_here">
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id="move_buttons">
            <button id="prev_button" type="button">Previous</button>
            <span id="display_page_number"></span>
            <button id="next_button" type="button">Next</button>
        </div>
    </div>

{% endblock %}
